body{
    background: greenyellow;
    color: red;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}

header{
    color: #6A00FF;
    font-size: 24px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

li{
    display: inline-block;
    border-radius: 5px;
}

a:hover{
    color: #FF7B00;
}

img{
    display: block;
      margin-left: auto;
      margin-right: auto;
}
