body{
    background-color: #A96C09;
}
img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-color: #000000;
      width: 580px;
      height: 500px;
}
nav{
  text-align: center;
}
p{
  font-size: 18px;
  font-family: Verdana;
}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    color: #0CD119;
    text-decoration: underline;
}
h5{
    font-family: Arial;
    color: #10E6BF;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: yellow;
    font-size: 18px;
}
a:hover{
    color: #1CFB03;
}
li{
    display: inline;
    margin: 30px;
    background-color: #C103FB;
    border-radius: 5px;
}