body{
	background-color: #90FF5D;
}
header{
	font-family: Verdana;
	background-color: #FFFF00;
	text-align: center;
	color: #29C714;
}
p{
	font-family: Arial;
	font-size: 20px;
}
table{
	text-align: center;
	border-collapse: collapse;
	border-radius: 5px;
}
td{
	border: black solid;
}
thead{
	font-weight: bold;
	font-family: cursive;
	background-color: #2575E8;
}
tbody{
	font-family: cursive;
	background-color: #92FFEE;
}
li{
	position: relative;
	left: 430px;
	top: 50px;
	text-align: center;
	display: inline;
}
a{
	color: #470AF6;
	font-size: 20px;
	font-family: Arial;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #F6270A;
}