body{
    background-color: #C108CB
}
h1{
    font-family: Arial;
    color: #09DA1E;
    text-decoration: underline;
    text-align: center;
}    
table{
    font-family: cursive;
    border: black solid;
    border-collapse: separate;
    color: #FCFF08;
    text-align: center;
    margin: 0 auto;
}
td{
    border: black solid; 
}
header{
    color: aquamarine;
}
thead{
    color: #0D01F2;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
a:hover{
    color: #FD040C;
}
li{
    display: inline;
    margin: 50px;
    background-color: #F3FB03;
    border-radius: 5px;
}
div{
    display: inline-block;
}

p{
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
    color: black;
}
nav{
    text-align: center;
}